<h1>Create Category</h1>

<div class="card">
  <form action="/categories/create" method="POST">
    <label>Name</label>
    <input type="text" name="name" required />

    <label>Description</label>
    <textarea name="description" rows="4"></textarea>

    <button class="btn">Create</button>
  </form>
</div>
