<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

  <header class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand">Project Inventory</a>
      <nav class="navbar-links">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="/projects">Projects</a>

        <% if (user) { %>
        <a href="/user/profile"><%= user.username %></a>
        <a href="/auth/logout">Logout</a>
        <% } else { %>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">signup</a>
        <% } %>
      </nav>
    </div>
  </header>

  <main class="container">
    <%- body %>
  </main>

</body>
</html>
