<h1>Edit Category</h1>

<div class="card">
  <form action="/categories/update/<%= category.id %>" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="<%= category.name %>" required />

    <label>Description</label>
    <textarea name="description" rows="4"><%= category.description %></textarea>

    <button class="btn">Update</button>
  </form>
</div>
